/* Page body layout */

.about-work {
  display: flex;
  flex-direction: column;
}

.header {
  background: #2583fa;
  background-image: url('/assets/images/astronaut-11080.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  width: 100%;
  text-align: center;

  &__container {
    margin: 1rem auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //   &__description {
  //     color: #fff;
  //   }

  &__heading {
    margin: 0;
  }

  //   &__image {
  //   }
}
