/* Page body layout */

.about-work {
  display: flex;
  flex-direction: column;
}

.article {
  color: map-get($colors, c-black);
  &__container {
    margin: 1rem auto;
    width: 415px;
  }
  &__header {
    text-align: center;
  }

  &__image {
    max-height: 313px;
    max-width: 513px;
    float: right;
  }
  &__wrapper {
    border: 0.25rem solid red;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    height: 200px;
  }

  &__article__second-paragraph {
    width: 75%;
    flex-grow: 5;
  }
}

.div {
  flex-grow: 5;
}

.header {
  background: map-get($colors, c-blue-primary);
  background-image: url('/assets/images/astronaut-11080.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: map-get($colors, c-white);
  width: 100%;
  text-align: center;

  &__container {
    margin: 1rem auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //   &__description {
  //     color: #fff;
  //   }

  &__heading {
    margin: 0;
  }
}
