.logo {
  font-size: 2.2rem;
  color: var(--c-black);
  position: relative;

  &::after {
    content: 'WTF CREW - software house';
    font-size: 0.6rem;
    text-align: center;
    display: block;
    width: 100%;
    height: 0.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
